<!-- <div class="search-bar-container">
    <input placeholder="UwU">
</div> -->
<!-- class="form-control" -->


<div 
  class="search-bar-container" 
  cdkOverlayOrigin 
  #overlayPosition="cdkOverlayOrigin"
  [ngClass]="{'opened mat-elevation-z2' : overlayOpen() }"
>
    <button mat-icon-button>
        <mat-icon>search</mat-icon>
    </button>
    <input #searchInput type="text" 
     [(ngModel)]="input" placeholder="Name ..." 
     (click)="overlayOpen.set(true)"
     (keydown.ENTER)="search(searchInput.value)"
     />
</div>
<ng-template 
  cdkConnectedOverlay 
  [cdkConnectedOverlayOrigin]="overlayPosition" 
  [cdkConnectedOverlayOpen]="overlayOpen()"
  (overlayOutsideClick)="overlayOpen.set(false)"
  >
  <app-search-overlay />

</ng-template>

<!-- <div class="custom-wrapper-example" matAutocompleteOrigin #origin="matAutocompleteOrigin">
    <input
      matInput
      [formControl]="myControl"
      [matAutocomplete]="auto"
      [matAutocompleteConnectedTo]="origin">
  </div>
  
  <mat-autocomplete #auto="matAutocomplete">
    @for (option of options; track option) {
      <mat-option [value]="option">{{option}}</mat-option>
    }
  </mat-autocomplete> -->

<!-- <mat-autocomplete #auto="matAutocomplete">
    @for (option of options; track option) {
      <mat-option [value]="option">{{option}}</mat-option>
    }
  </mat-autocomplete> -->

<!-- temp -->
<!-- <form autocomplete="off" action="/action_page.php">
    <div class="autocomplete" style="width:300px;">
      <input id="myInput" type="text" name="myCountry" placeholder="Country">
    </div>
    <input type="submit">
  </form> -->