<div class="search-bar-container">
    <input placeholder="UwU">
</div>


<!-- <div class="search-bar-container">
    <button mat-icon-button>
        <mat-icon>search</mat-icon>
    </button>
    <input type="text" class="form-control" [(ngModel)]="input" placeholder="Name ...">
</div>
<h1>{{input}}</h1> -->

<!-- <div class="custom-wrapper-example" matAutocompleteOrigin #origin="matAutocompleteOrigin">
    <input
      matInput
      [formControl]="myControl"
      [matAutocomplete]="auto"
      [matAutocompleteConnectedTo]="origin">
  </div>
  
  <mat-autocomplete #auto="matAutocomplete">
    @for (option of options; track option) {
      <mat-option [value]="option">{{option}}</mat-option>
    }
  </mat-autocomplete> -->

<!-- <mat-autocomplete #auto="matAutocomplete">
    @for (option of options; track option) {
      <mat-option [value]="option">{{option}}</mat-option>
    }
  </mat-autocomplete> -->

<!-- temp -->
<!-- <form autocomplete="off" action="/action_page.php">
    <div class="autocomplete" style="width:300px;">
      <input id="myInput" type="text" name="myCountry" placeholder="Country">
    </div>
    <input type="submit">
  </form> -->